* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(120deg, #d1b558, #d3856f);
    color: white;
    font-family: "poppins", sans-serif;
    min-height: 100vh;
}
header {
    font-size: 1.3rem;
}
header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,
form button {
    padding: 8px;
    font-size: 16px;
    border: none;
    background: white;
}
form button{
    color: #d3856f;
    background: white;
    cursor: pointer;
    transition:all 0.4s ease;

}
form button:hover{
    background: #d3856f ;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
    min-width: 30%;
    list-style: none;

}
.todo{
    margin: 8px;
    background: white;
    color: black;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn,
.complete-btn{
    background: #ff6f47;
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 16px;
}
.complete-btn{
    background: rgb(73, 204, 73);
} 
.todo-item{
    padding: 0 8px;
}
.fa-trash,
.facheck{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.fall{
    transform: translateY(128px)rotateZ(20deg);
    opacity: 0;
}